<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
        xmlns:tx="http://www.springframework.org/schema/tx" 
        xmlns:context="http://www.springframework.org/schema/context"
        xmlns:aop="http://www.springframework.org/schema/aop"
        xsi:schemaLocation="http://www.springframework.org/schema/beans 
                            http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
                            http://www.springframework.org/schema/context 
                            http://www.springframework.org/schema/context/spring-context-3.0.xsd
                            http://www.springframework.org/schema/tx 
                            http://www.springframework.org/schema/tx/spring-tx.xsd
                            http://www.springframework.org/schema/aop 
                            http://www.springframework.org/schema/aop/spring-aop-3.0.xsd">
			

    <context:annotation-config />
    <tx:annotation-driven transaction-manager="transactionManager" />
    
    
    <aop:aspectj-autoproxy proxy-target-class="true"/>
    <bean id="bookAspect" class="library.utils.aop.AspectDAOBookScanner" />
    <bean id="userAspect" class="library.utils.aop.AspectDAOUserScanner" />
    <bean id="ticketItemAspect" class="library.utils.aop.AspectDAOTicketItemScanner" />
    <bean id="ticketAspect" class="library.utils.aop.AspectDAOTicketScanner" />
    

    
    <bean name="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="${hibernate.connection.driver_class}" />
        <property name="url" value="${hibernate.connection.url}" />
        <property name="username" value="${hibernate.connection.username}" />
        <property name="password" value="${hibernate.connection.password}" />
    </bean>
    
    <bean id="entityManagerFactory" class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
        <property name="persistenceUnitName" value="library" />
        <property name="dataSource" ref="dataSource" />
        <property name="jpaProperties">
            <props>
                <prop key="hibernate.dialect">${hibernate.dialect}</prop>
                <prop key="hibernate.hbm2ddl.auto">${hibernate.hbm2ddl.auto}</prop>
                <prop key="hibernate.show_sql">${hibernate.show_sql}</prop>
                <prop key="hibernate.format_sql">${hibernate.format_sql}</prop>
                <prop key="hibernate.hbm2ddl.import_files">${hibernate.hbm2ddl.import_files}</prop>
            </props>
        </property>
    </bean>
    
        
    <context:component-scan base-package="library" /> 
    
    <bean class="org.springframework.orm.jpa.JpaTransactionManager" id="transactionManager">
        <property name="entityManagerFactory" ref="entityManagerFactory" />
    </bean>
    
    
    <bean id="bookDAO" class="library.dao.impl.BookDAOImpl" />
    <bean id="bookService" class="library.service.impl.BookServiceImpl" />    
    
    <bean id="ticketDAO" class="library.dao.impl.TicketDAOImpl" />
    <bean id="ticketService" class="library.service.impl.TicketServiceImpl" />
    
    <bean id="ticketItemDAO" class="library.dao.impl.TicketItemDAOImpl" />
    <bean id="ticketItemService" class="library.service.impl.TicketItemServiceImpl" />    
    
    <bean id="userDAO" class="library.dao.impl.UserDAOImpl" />    
    <bean id="userService" class="library.service.impl.UserServiceImpl" />
    
    
    <bean id="ticketFacade" class="library.service.impl.TicketFacadeImpl" /> 
    
    
<!--    <bean id="customUserDetailsService" class="library.security.CustomUserDetailsService" />-->
    
    
    <bean id="mapper" class="org.dozer.DozerBeanMapper">
        <property name="mappingFiles">
            <list>
                <value>config/dozer-mapping.xml</value>
            </list>
        </property>
    </bean>
</beans>