/*
        Created by Keith Donegan of Code-Sucks.com
        
        E-Mail: Keithdonegan@gmail.com
        
        You can do whatever you want with these layouts,
        but it would be greatly appreciated if you gave a link
        back to http://www.code-sucks.com
        
*/

* { padding: 0; margin: 0; }

body 
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    background-image: url('../img/background.png');
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

a
{
    color: #02C;
}

a:focus, a:hover 
{
    color:#09f;
}

#wrapper 
{ 
    background-image: url('../img/background.png');
}

#faux 
{
    margin: 0px auto;
    overflow: auto; /* Paul O Brien Fix for IE www.pmob.co.uk */
    width: 900px;
    padding-bottom: 50px;
}

#faux h1
{
text-align:center;
line-height:120%;
margin:50px 0px 50px;
color: rgb(30,40,40);
}

#header 
{
    color: #333;
    text-align:center;
    background-image: url('../img/background.png');
    height:250px;
    margin: 0 auto;
    width: 900px;
}

#main_header_image{
    height: 200px;
    margin: 20px 725px 0px 0px
}

.header-div{
    text-align: right;
    padding:10px;
    margin-top: -200px;
}

#panel_menu 
{
    color: #333;
    width: 102px;
    padding: 10px;
    height: 150px;
    margin: 10px 0px 5px 0px;
    background: #d7e291;
    /* background: #d7e291 url(images/header.gif); */
}

/*#rightcolumn 
{ 
    display: inline;
    color: #333;
    margin: 5px;
    padding: 0px;
    width: 195px;
    float: right;
    padding-left: 5px;
    border-left:2px solid #333333;
}*/

#leftcolumn 
{ 
    float: left;
    color: #333;
    /* border: 1px solid red;*/
    margin: 10px;
    padding: 0px;
/*    width: 683px;*/
    width: 902px;
    display: inline;
    position: relative;
}

#footer 
{ 
    color: #cccccc;
    text-align:center;
    clear: both;	
    background: #505050;
    padding: 10px;
    width: 880px;
    margin: 0 auto;
}


#searchBox input
{
    background-color: #d7e291; 
    color: #333;  
    border: 1px solid #333;
    width: 190px;
}

#register_input
{
    padding-left: 5px;
    display:block;
    border: 1px solid #999;
    height: 25px;
    -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);    
}

fieldset input
{
    width:245px;
}

fieldset select
{
     width:250px;
}

#register_button 
{
    margin-top: 15px;
    float:left;
    width:250px;
    display:block;
    border: 1px solid #999;
    height: 25px;
    background-color: #d7e291;
    -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
}

#register_button:hover 
{
    background:#333333;
    color:#d7e291;
}

#register_button, #register_input
{
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

fieldset 
{
    margin-top: 30px;
    padding: 1em;
    font:110%/1 sans-serif;
}

fieldset label 
{
    float:left;
    width:25%;
    margin-right:0.5em;
    padding-top:5px;
    text-align:right;
    font-weight:bold;
}

label 
{
    float:left;
    margin-right:0.5em;
    padding-top:0.2em;
    text-align:right;
    font-weight:bold;
}

.show
{
    margin-top: 14px;
    cursor: pointer;
}

.show td:first-child
{
    padding-left: 8px;
}

.slidingDiv tr td
{
padding: 5px 15px;
}

.slidingDiv tbody tr:first-child td
{
    border-bottom:1px solid grey;
    text-align: center;
}

.slidingDiv table
{
  -moz-border-radius: 6px; /* FF1+ */
  -webkit-border-radius: 6px; /* Saf3-4 */
  border-radius: 6px; /* Opera 10.5, IE9, Saf5, Chrome */
  -moz-box-shadow: 0 0 6px #959595 inset;
  -webkit-box-shadow: 0px 0px 6px #959595 inset; /* Saf3.0+, Chrome */
  box-shadow: 0px 0px 6px #959595 inset; /* Opera 10.5, IE9 */
  border: 1px solid grey;
  background-color: #dfe7a7;
}

.slidingDiv 
{                
    background-color: #d7e291;
    padding:20px;
    margin-top:14px;
    border-bottom:5px solid #333333;
    display: none;
}​​

#ffs
{
    background-color: #d7e291;
    padding:20px;
    margin-top:10px;
    border-bottom:5px solid #333333;
}

.pridat {
	-moz-box-shadow:inset 0px 0px 0px 0px #dfe7a7;
	-webkit-box-shadow:inset 0px 0px 0px 0px #dfe7a7;
	box-shadow:inset 0px 0px 0px 0px #dfe7a7;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #c1cb82), color-stop(1, #dbe49c) );
	background:-moz-linear-gradient( center top, #c1cb82 5%, #dbe49c 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#c1cb82', endColorstr='#dbe49c');
	background-color:#dbe49c;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	border:1px solid #dbe49c;
	display:inline-block;
	color:rgb(30,40,40);
	font-family:arial;
	font-size:13px;
	font-weight:bold;
	padding:10px 15px;
	text-decoration:none;
        margin: 30px 0px 20px 750px;
}.pridat:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dbe49c), color-stop(1, #c1cb82) );
	background:-moz-linear-gradient( center top, #dbe49c 5%, #c1cb82 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dbe49c', endColorstr='#c1cb82');
	background-color:#eeaf41;
        color:rgb(30,40,40);
}.pridat:active {
	position:relative;
	top:1px;
}

#book_detail
{
margin: 45px 15px 15px 15px;
-moz-border-radius: 6px;
-webkit-border-radius: 6px;
border-radius: 6px;
-moz-box-shadow: 0 0 6px #959595 inset;
-webkit-box-shadow: 0px 0px 6px rgb(149, 149, 149) inset;
box-shadow: 0px 0px 6px rgb(149, 149, 149) inset;
border: 1px solid grey;
background-color: rgb(223, 231, 167);
}

#book_detail thead
{
    text-align: center;
}

#book_detail tbody tr:first-child td
{
    border-top:1px solid grey;
    text-align: center;
}

#book_detail thead tr td
{
padding: 5px 15px;
}

#book_detail tbody tr td
{
padding: 15px 0px 15px 0px;
}

#book_options
{
    list-style: none;
    margin: -95px 0px 0px 500px;
}

#book_options li
{
    -moz-box-shadow:inset 0px 0px 0px 0px #dfe7a7;
    -webkit-box-shadow:inset 0px 0px 0px 0px #dfe7a7;
    box-shadow:inset 0px 0px 0px 0px #dfe7a7;
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #c1cb82), color-stop(1, #dbe49c) );
    background:-moz-linear-gradient( center top, #c1cb82 5%, #dbe49c 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#c1cb82', endColorstr='#dbe49c');
    background-color:#dbe49c;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
    border:1px solid #dbe49c;
    display:inline-block;
    color:rgb(30,40,40);
    font-family:arial;
    font-size:13px;
    font-weight:bold;
    padding:10px 15px;
    text-decoration:none;
    margin-bottom: 20px;
}

#book_options li:hover
{
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dbe49c), color-stop(1, #c1cb82) );
    background:-moz-linear-gradient( center top, #dbe49c 5%, #c1cb82 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dbe49c', endColorstr='#c1cb82');
    background-color:#eeaf41;
    color:rgb(30,40,40);
}

#book_options:active
{
    position:relative;
    top:1px;
}

#book_options a
{
    color:rgb(30,40,40);
    text-decoration: none;
}

#error
{
    margin: -20px 0px 0px 520px;
}

.log_button {
    margin:75px -790px 0px 0px;
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #616161), color-stop(1, #727272) );
    background:-moz-linear-gradient( center top, #616161 5%, #727272 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#616161', endColorstr='#727272');
    background-color:#505050;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    border:1px solid #dcdcdc;
    display:inline-block;
    color:#cccccc;
    font-family:arial;
    font-size:13px;
    font-weight:bold;
    padding:6px 13px;
    text-decoration:none;
}.log_button:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #727272), color-stop(1, #616161) );
	background:-moz-linear-gradient( center top, #727272 5%, #616161 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#727272', endColorstr='#616161');
	background-color:#505050;
}.log_button:active {
	position:relative;
	top:1px;
}

.log_button a {
	color:#cccccc;
    text-decoration: none;
}

#last_books
{
    margin: 40px 0px 20px 0px;
}

.all_books {
    margin:20px 0px 0px 790px;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #616161), color-stop(1, #727272) );
	background:-moz-linear-gradient( center top, #616161 5%, #727272 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#616161', endColorstr='#727272');
	background-color:#505050;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	color:#cccccc;
	font-family:arial;
	font-size:13px;
	font-weight:bold;
	padding:6px 13px;
	text-decoration:none;
}.all_books:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #727272), color-stop(1, #616161) );
	background:-moz-linear-gradient( center top, #727272 5%, #616161 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#727272', endColorstr='#616161');
	background-color:#505050;
}.all_books:active {
	position:relative;
	top:1px;
}

.all_books a {
	color:#cccccc;
    text-decoration: none;
}
